---
name: test 
on:
  workflow_dispatch:

permissions:
  contents: write
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run a command
        shell: pwsh
        run: Write-Host "Hello World"
